.memo-container {
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: rgb(97, 227, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divs-container {
  height: 50vh;
  width: 50vh;
  overflow: auto;
  background-color: rgb(255,255,255);
  display: flex;
  flex-direction: column;
}

.row{
    height: 25vh;
    width: 50vh;
    display: flex;
    flex-direction: row;
}

.row > div {
    width: 25vh;
    border: solid black;
}
